.total {
  text-align: center;
  font-weight: 500;
}
.cart-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 53.33px - 60px - 40px);
  padding: 40px 0;
  text-align: center;
}
.cart-products .cart-product {
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
.cart-products .cart-product img {
  width: 100%;
  border-radius: 15px;
}
.cart-products .cart-product .amount {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cart-products .cart-product .amount svg {
  cursor: pointer;
}
